@model List<global::Domain.Entities.Project>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    #bar {
        border-radius: 40px;
    }

    hr.green {
        border: 1px solid;
        border-radius: 5px;
        margin-top: -5px;
    }
</style>

<div class="container p-3 my-3" id="bar">
    <h3>My First Bootstrap Page</h3>
    <hr class="green" />
    <p>This container has a dark background color and a white text, and some extra padding and margins.</p>
    <div>
       @{ 
           foreach (var item in Model)
           {
               //<p>test</p>
               @item.ProjectName<br />
               foreach (var webApps in item.Webapps)
               {
                   @webApps.WebAppUrl<br />
                   @webApps.WebAppType<br />
                   foreach (var webappdetails in webApps.WebAppDetails)
                   {
                       @webappdetails.WebAppAltUrl<br />
                       @webappdetails.CreatedDate<br />
                   }
               }
           }
       }

    </div>
</div>



