@using System.Linq
@model ProjectRestApiViewModel
@{
    ViewData["Title"] = "Rest Services";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<style>
    #Dbtransaction {
        padding: 0 20px
    }



        #Dbtransaction > input {
            display: none;
        }

        #Dbtransaction i {
            display: inline-block;
            float: right;
            padding: 2px;
            width: 40px;
            height: 20px;
            border-radius: 13px;
            vertical-align: middle;
            -webkit-transition: .25s .09s;
            transition: .25s .09s;
            position: relative;
            background: #d8d9db;
            box-sizing: initial;
        }

            #Dbtransaction i:after {
                content: " ";
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                left: 2px;
                -webkit-transition: .25s;
                transition: .25s;
            }

        #Dbtransaction > input:checked + i {
            background: #0069d9;
        }

            #Dbtransaction > input:checked + i:after {
                -webkit-transform: translateX(20px);
                transform: translateX(20px);
            }

        #Dbtransaction:hover {
            cursor: pointer;
        }
</style>

<!-- Page Content  -->
<div id="content">



    <div class="container">

        <main role="main" class="pb-3">
            <form action="RestService" method="post">

                <div class="card text-center">
                    <div class="card-header">
                        <div class="form-row">
                            <div class="col-md-1 mb-1">
                                <select class="custom-select mr-sm-2" asp-for="RestApiResponse.HttpType" asp-items="Html.GetEnumSelectList<Domain.Enums.HttpType>()">
                                    @*<option selected="selected" value="">Please select</option>*@
                                </select>
                            </div>
                            <div class="col-md-9 mb-1">
                                <input class="form-control" name="ApiURL" id="ApiURL" placeholder="Endpoint URL" asp-for="RestApiResponse.ApiURL" />
                            </div>
                            <div class="col-md-1 mb-1" style="padding-top: 5px;">

                                <label id="Dbtransaction">

                                    <input type="checkbox" id="SaveDbButton"><i></i>
                                </label>
                            </div>
                            <div class="col-md-1 mb-1">
                                <button type="submit" id="btnSend" name="btnSend" class="btn btn-primary">Send</button>
                            </div>


                        </div>
                    </div>
                    <div class="card-footer" style="display: none" name="DbSection" id="DbSection">


                        <div class="form-row">
                            <div class="col-md-2 mb-1">
                                <select multiple="multiple" class="custom-select mr-sm-2" name="Project" id="Project" asp-items="@Model.Project">
                                </select>
                                @*   @Html.DropDownListFor(x => x.Project, Model.Project, new { @class = "form-control" })*@

                            </div>
                            <div class="col-md-2 mb-1">
                                <select class="form-control" id="WebApp" name="WebApp" asp-items="@(new SelectList(string.Empty,"WebAppId","WebAppName"))"></select>

                            </div>
                            <div class="col-md-1 mb-1" style="padding-top: 5px;">


                            </div>



                        </div>




                    </div>
                    <div class="card-body">

                        <div class="form-row">
                            <div class="col-md-12">

                                @* @Html.TextAreaFor(x => x.Response, new { @class = "form-control" })*@
                                <textarea class="form-control" asp-for="RestApiResponse.Response" style="height: 231px; border-width: 5px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div name="statusbar" id="statusbar" class="form-row">
                            <h6> Proccess Status : <span class="badge badge-secondary">@Html.DisplayFor(x => x.RestApiResponse.ProccessStatus)</span></h6>
                            <h6 style="margin-left:5px"> Finished In : <span class="badge badge-secondary">@Html.DisplayFor(x => x.RestApiResponse.ProccessTime)</span> Miliseconds </h6>

                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>




@*<div>
        <partial name="_HistoryRestRequest" />


    </div>*@


<script>


    $('#SaveDbButton').change(function() {
        if (this.checked) {

            $('#DbSection').show();
        } else {

            $('#DbSection').hide();
        }
    });

        $('#Project').click(function () {
            var selectedProject = $("#Project").children("option:selected").val();
            var url = '@Url.Content("~/")' + "Home/GetWebApps";
            console.log(selectedProject);
            var webAppRequest = {
                "WebAppId": parseInt(selectedProject)
            };
            console.log
                (url);
           


            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(webAppRequest),
                dataType: 'json',
                contentType: "application/json",
                success: function(data) {
                    var items = "";
                    $('#WebApp').empty();
                    $.each(data,
                        function(i, webapp) {
                            items += "<option value='" + webapp.value + "'>" + webapp.text + "</option>";
                        });
                    $('#WebApp').html(items);
                }
                
            });

        });





</script>
@*<script src="~/highlighter/highlighter.js"></script>*@